[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/WingsLikeEagles/K8s_Portainer/
After=docker.service
Requires=docker.service
